# --- PUERTOS DE LOS MICROSERVICIOS ---
API_GATEWAY_PORT=8080
AUTH_SERVICE_PORT=8081
RESERVATION_SERVICE_PORT=8082
TOURIST_CATALOG_SERVICE_PORT=8083
GALLERY_SERVICE_PORT=8084
FINANCIAL_SERVICE_PORT=8085
OPERATION_SERVICE_PORT=8086

# --- CONFIGURACION DE SEGURIDAD (JWT) ---
JWT_SECRET=your_jwt_secret
JWT_EXPIRATION=900000

# --- CONFIGURACION BASES DE DATOS MYSQL ---
MYSQL_ROOT_PASSWORD=root

AUTH_DB_NAME=auth_db
AUTH_DB_PORT=3307

FINANCIAL_DB_NAME=pago_db
FINANCIAL_DB_PORT=3308

# --- CONFIGURACION BASE DE DATOS MONGODB ---
GALLERY_MONGO_USERNAME=root
GALLERY_MONGO_PASSWORD=root
GALLERY_MONGO_DB_NAME=gallery_db
GALLERY_MONGO_DB_PORT=27017

OPERATION_DB_NAME=trip_operations_db
OPERATION_DB_PORT=3309

RESERVATION_DB_NAME=reservation_db
RESERVATION_DB_PORT=3310

CATALOG_DB_NAME=catalog_db
CATALOG_DB_PORT=3311

# --- CREDENCIALES DE CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# --- CREDENCIALES WOMPI ---
WOMPI_PUBLIC_KEY=your_wompi_public_key
WOMPI_PRIVATE_KEY=your_wompi_private_key

GOOGLE_ID_CLIENT=your_google_client_id
GOOGLE_SECRET_CLIENT=your_google_client_secret
