*.md
.git
.gitignore
.gitattributes
.idea
*.iml
*.iws
*.ipr
.DS_Store
.vscode
target/
build/
.gradle
.gradle/**
*.class
*.jar
*.war
*.rar
.classpath
.project
.settings/
**/node_modules
npm-debug.log
dist/
.env
.env.local
